.checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &--partial {
        .checkbox__label {
            &::after {
                top: 50%;
                left: 8px;
                transform: rotate(0deg);
                width: 12px;
                height: 2px;
                border: none;
                border-top: 2px solid var(--accent-color);
            }
        }
    }

    &__input {
        position: absolute;
        appearance: none;

        &:focus-visible + .checkbox__label {
            &::before {
                outline: 2px solid var(--primary-color);

                @media screen and (max-width: $md) {
                    outline: none;
                }
            }
        }

        &:checked + .checkbox__label {
            &::before {
                border-width: 2px;
                border-color: var(--accent-color);
            }

            &::after {
                opacity: 1;
            }
        }

        &:disabled + .checkbox__label {
            pointer-events: none;

            &::before {
                background-color: transparent;
            }

            &::after {
                border-color: var(--shade-color);
            }
        }

        &:disabled:checked + .checkbox__label {
            &::before {
                border-color: var(--shade-color);
            }
        }
    }

    &__label {
        padding-left: 35px;
        color: var(--secondary-color);
        font-size: 1.6rem;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            border: 1px solid var(--shade-color);
            border-radius: 4px;
            box-shadow: 0px 4px 8px var(--shadow-color);
            background-color: var(--bright-color);
        }

        &::after {
            content: "";
            position: absolute;
            top: 40%;
            left: 10px;
            opacity: 0;
            width: 8px;
            height: 16px;
            border-bottom: 2px solid var(--accent-color);
            border-right: 2px solid var(--accent-color);
            transform: translateY(-50%) rotate(45deg);
        }
    }
}
