$flap-padding-lr: 40px;

.flap {
	padding: 75px $flap-padding-lr;
	border-radius: 20px;
	background: var(--bright-color) url("/images/flap-image.png") no-repeat 100%
		0% / contain;

	@media screen and (max-width: $lg) {
		display: flex;
		padding: 45px 30px;
		background: var(--bright-color);
	}

	&__content {
		max-width: calc(50% + 2 * $flap-padding-lr);

		@media screen and (max-width: $lg) {
			max-width: none;
		}
	}

	&__label {
		margin-bottom: 5px;
		font-size: 1.6rem;
	}

	&__heading {
		margin-bottom: 20px;

		@media screen and (max-width: $sm) {
			font-size: 3.4rem;
			line-height: 4.4rem;
		}
	}

	&__text {
		margin-bottom: 25px;
		font-size: 2rem;
		line-height: 2.8rem;

		@media screen and (max-width: $sm) {
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}

	&__image {
		display: none;

		@media screen and (max-width: $lg) {
			display: block;
			width: 250px;
			height: 250px;
			margin-left: 60px;
			border-radius: 16px;
			object-fit: cover;
			object-position: 100% 0%;
		}

		@media screen and (max-width: $md) {
			display: none;
		}
	}

	&__action {
		@media screen and (max-width: $sm) {
			width: 100px;
			padding: 8px 6px;
			font-size: 1.4rem;
		}
	}

	&--right {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		padding: 60px;
		background: var(--bright-color);

		.flap__content {
			margin-left: 80px;

			@media screen and (max-width: $md) {
				margin-left: 0;
			}
		}

		.flap__label {
			display: none;
		}

		.flap__image {
			display: block;
			width: 400px;
			height: 400px;
			margin: 0;
			border-radius: 16px;
			object-fit: cover;
			object-position: 100% 0%;

			@media screen and (max-width: $lg) {
				width: 250px;
				height: 250px;
			}

			@media screen and (max-width: $md) {
				display: none;
			}
		}
	}

	&--left {
		@extend .flap--right;
		flex-direction: row;

		.flap__content {
			margin-left: 0;
			margin-right: 80px;

			@media screen and (max-width: $md) {
				margin-right: 0;
			}
		}
	}

	&--bullet {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		max-width: 260px;
		padding: 20px;
		background: transparent;
		text-align: center;

		@media screen and (max-width: $lg) {
			padding: 20px;
		}

		.flap__label {
			display: none;
		}

		.flap__heading {
			margin-bottom: 8px;

			@media screen and (max-width: $sm) {
				font-size: 2rem;
				line-height: 2.8rem;
			}
		}

		.flap__text {
			margin-bottom: 0;
			font-size: 1.6rem;
			line-height: 2.2rem;
		}

		.flap__action {
			display: none;
		}

		.flap__image {
			display: block;
			width: 160px;
			height: 160px;
			margin: 0;
			margin-bottom: 17px;
			border-radius: 50%;
		}
	}
}
