.form {
	padding: 40px 30px;
	background-color: var(--bright-color);
	border-radius: 24px;

	@media screen and (max-width: $sm) {
		padding: 20px;
	}

	&__header {
		margin-bottom: 30px;
	}

	&__heading {
		margin-bottom: 5px;

		@media screen and (max-width: $sm) {
			font-size: 2.8rem;
			line-height: 3.6rem;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 4px;
		color: var(--accent-color);
		font-size: 1.6rem;
		text-decoration: none;

		&:empty {
			display: none;
		}

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&--footer {
			margin-top: 25px;
		}
	}

	&__controls {
		margin-bottom: 35px;
	}

	&__field {
		margin-bottom: 25px;
		box-shadow: none;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__submit {
		@media screen and (max-width: $sm) {
			padding: 8px 6px;
			font-size: 1.4rem;
		}
	}
}
