.icon {
	width: 25px;
	height: 25px;
	stroke: var(--primary-color);
	fill: none;

	&--accent {
		stroke: var(--accent-color);
	}

	&--warning {
		stroke: var(--warning-color);
	}

	&--success {
		stroke: var(--success-color);
	}

	&--error {
		stroke: var(--error-color);
	}

	&--secondary {
		stroke: var(--secondary-color);
	}

	&--muted {
		stroke: var(--muted-color);
	}

	&--bright {
		stroke: var(--bright-color);
	}

	&--shade {
		stroke: var(--shade-color);
	}

	&--tint {
		stroke: var(--tint-color);
	}
}
