.message {
    --arrow-width: 9px;
    position: relative;
    padding: 16px;
    border-radius: 6px;
    background-color: var(--blueberry-color);

    color: var(--bright-transparent-color);
    font-size: 1.4rem;
    line-height: 1.8rem;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
        z-index: -1;
        border: var(--arrow-width) solid;
        border-color: transparent transparent transparent #4874e9;
    }

    &--bright {
        background-color: var(--bright-color);
        color: var(--secondary-color);

        &::before {
            border-color: transparent transparent transparent #d5d6d7;
        }
    }

    &--dark {
        background-color: var(--primary-color);

        &::before {
            border-color: transparent transparent transparent #585364;
        }
    }

    &--strawberry {
        background-color: var(--strawberry-color);

        &::before {
            border-color: transparent transparent transparent #df3468;
        }
    }

    &--br {
        &::before {
            left: unset;
            right: 0;
            transform: rotate(180deg) translateY(-50%);
        }
    }

    &--tl {
        &::before {
            bottom: unset;
            top: 0;
            transform: translateY(-50%);
        }
    }

    &--tr {
        &::before {
            bottom: unset;
            left: unset;
            top: 0;
            right: 0;
            transform: rotate(180deg) translateY(50%);
        }
    }
}
