@import "../mixins/block-arrows";

.popover {
    --bg-color: var(--accent-color);
    --heading-color: var(--bright-color);
    --text-color: var(--bright-transparent-color);
    position: relative;
    max-width: 180px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--bg-color);

    &__heading {
        color: var(--heading-color);
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__text {
        margin-top: 5px;
        color: var(--text-color);
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    &::before {
        content: "";
        position: absolute;
        @include arrow-top(10px);
        border-color: transparent transparent var(--bg-color) transparent;
    }

    &--bright {
        --bg-color: var(--bright-color);
        --heading-color: var(--primary-color);
        --text-color: var(--secondary-color);
    }

    &--dark {
        --bg-color: var(--primary-color);
    }

    &--accent {
        --bg-color: var(--accent-color);
    }

    &--warning {
        --bg-color: var(--warning-color);
    }

    &--success {
        --bg-color: var(--success-color);
    }

    &--error {
        --bg-color: var(--error-color);
    }

    &--right {
        &::before {
            @include arrow-right(10px);
        }
    }

    &--bottom {
        &::before {
            @include arrow-bottom(10px);
        }
    }

    &--left {
        &::before {
            @include arrow-left(10px);
        }
    }
}
