.progress {
  position: relative;
  height: 8px;
  border-radius: 2px;
  background-color: var(--shade-color);
  overflow: hidden;

  &__filler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--accent-color);
    transition: width 0.7s ease-in-out;
  }

  &--warning {
    .progress__filler {
      background-color: var(--warning-color);
    }
  }

  &--success {
    .progress__filler {
      background-color: var(--success-color);
    }
  }

  &--error {
    .progress__filler {
      background-color: var(--error-color);
    }
  }
}
