.radio {
	position: relative;
	display: flex;
	align-items: center;

	&--invalid {
		&::before {
			border-color: var(--error-color);
		}
	}

	&__input {
		position: absolute;
		appearance: none;

		&:focus + .radio__label {
			&::before {
				outline: 2px solid var(--primary-color);

				@media screen and (max-width: $md) {
					outline: none;
				}
			}
		}

		&:checked + .radio__label {
			&::before {
				border-width: 2px;
				border-color: var(--accent-color);
			}

			&::after {
				opacity: 1;
			}
		}

		&:disabled + .radio__label {
			pointer-events: none;

			&::before {
				background-color: transparent;
			}

			&::after {
				background-color: var(--shade-color);
			}
		}

		&:disabled:checked + .radio__label {
			&::before {
				border-color: var(--shade-color);
			}
		}
	}

	&__label {
		padding-left: 35px;
		color: var(--secondary-color);
		font-size: 1.6rem;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			border: 1px solid var(--shade-color);
			border-radius: 50%;
			box-shadow: 0px 4px 8px var(--shadow-color);
			background-color: var(--bright-color);
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 6px;
			transform: translateY(-50%);
			opacity: 0;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			box-shadow: 0px 4px 8px var(--shadow-color);
			background-color: var(--accent-color);
		}
	}
}
