.rating {
	&__top {
		display: flex;
		align-items: center;
	}

	&__stars {
		display: flex;
		flex-direction: row-reverse;
		margin-right: 7px;
	}

	&__star-item {
		padding: 0 1px;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&:hover,
		&:focus-visible {
			outline: none;

			&,
			& ~ .rating__star-item {
				.rating__star-icon {
					fill: #ffbe1e;
				}
			}
		}

		&--active {
			.rating__star-icon {
				fill: #ffa200;
			}
		}
	}

	&__star-icon {
		width: 20px;
		height: 20px;
		fill: #a3bad4;
		transition: fill 0.12s ease-in;
	}

	&__value {
		color: var(--primary-color);
		font-size: 1.6rem;
		font-weight: 600;
	}

	&__bottom {
		margin-top: 7px;
		color: var(--secondary-color);
		font-size: 1.4rem;
	}
}
