@import "../mixins/block-arrows";

.tooltip {
    --bg-color: var(--accent-color);
    position: relative;
    padding: 7px 10px;
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--bright-transparent-color);
    font-size: 1.4rem;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        @include arrow-top(5px, var(--bg-color));
    }

    &--bright {
        --bg-color: var(--bright-color);
        color: var(--secondary-color);
    }

    &--dark {
        --bg-color: var(--primary-color);
    }

    &--accent {
        --bg-color: var(--accent-color);
    }

    &--warning {
        --bg-color: var(--warning-color);
    }

    &--success {
        --bg-color: var(--success-color);
    }

    &--error {
        --bg-color: var(--error-color);
    }

    &--right {
        &::before {
            @include arrow-right(5px, var(--bg-color));
        }
    }

    &--bottom {
        &::before {
            @include arrow-bottom(5px, var(--bg-color));
        }
    }

    &--left {
        &::before {
            @include arrow-left(5px, var(--bg-color));
        }
    }
}
