.colors {
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		grid-auto-rows: 300px;
		gap: 40px;
	}

	&__paper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		box-shadow: 0px 16px 56px rgba(44, 39, 56, 0.08);
		color: var(--bright-color);

		&--accent {
			background-color: var(--accent-color);
		}

		&--warning {
			background-color: var(--warning-color);
		}

		&--success {
			background-color: var(--success-color);
		}

		&--error {
			background-color: var(--error-color);
		}

		&--primary {
			background-color: var(--primary-color);
		}

		&--secondary {
			background-color: var(--secondary-color);
		}

		&--muted {
			background-color: var(--muted-color);
			color: var(--primary-color);
		}

		&--bright {
			background-color: var(--bright-color);
			color: var(--primary-color);
		}

		&--shade {
			background-color: var(--shade-color);
			color: var(--primary-color);
		}

		&--tint {
			background-color: var(--tint-color);
			color: var(--primary-color);
		}
	}

	&__name {
		opacity: 0.6;
		font-size: 2rem;
		font-weight: 700;
	}

	&__code {
		margin-top: 10px;
		font-size: 3.4rem;
		font-weight: 700;
	}
}
