.form {
    &__inputs {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        gap: 48px 80px;
    }

    &__field {
        &:nth-of-type(2),
        &:nth-of-type(4) {
            grid-column: 2 / 4;
            max-width: 360px;
        }
    }

    &__select {
        &:nth-of-type(9) {
            grid-column: 2 / 4;
            max-width: 360px;
        }
        &:nth-of-type(10) {
            grid-column: 1 / 4;
            max-width: 360px;
        }
    }

    &__textarea {
        &:nth-of-type(12) {
            grid-column: 2 / 4;
            max-width: 360px;
        }
    }

    &__elements-wrapper {
        margin-top: 80px;
    }

    &__stepper-item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__checkboxes {
        display: grid;
        grid-template-columns: repeat(3, 155px);
        gap: 30px 50px;
    }

    &__radios,
    &__toggles {
        display: grid;
        grid-template-columns: repeat(2, 155px);
        gap: 40px 50px;
    }

    &__sliders,
    &__labels {
        display: flex;
    }

    &__slider-item {
        width: 350px;
        margin-right: 65px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__label-item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}
