.form-section {
    &__inputs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        gap: 48px 80px;

        @media screen and (max-width: $sm) {
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        }
    }

    &__elements-wrapper {
        margin-top: 80px;
    }

    &__steppers {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 30px;
    }

    &__checkboxes {
        display: grid;
        grid-template-columns: repeat(3, 155px);
        gap: 30px 50px;

        @media screen and (max-width: $md) {
            grid-template-columns: repeat(3, 100px);
            gap: 30px;
        }

        @media screen and (max-width: $sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__radios,
    &__toggles {
        display: grid;
        grid-template-columns: repeat(2, 155px);
        gap: 40px 50px;

        @media screen and (max-width: $md) {
            grid-template-columns: repeat(2, 120px);
            gap: 30px;
        }
    }

    &__sliders {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 350px));
        gap: 50px;
    }

    &__labels {
        display: grid;
        grid-template-columns: repeat(auto-fit, 90px);
        gap: 20px;
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, 140px);
        gap: 30px 40px;

        @media screen and (max-width: $md) {
            grid-template-columns: 140px;
        }
    }

    &__buttons--small {
        grid-template-columns: repeat(2, 100px);
    }

    &__buttons--large {
        grid-template-columns: repeat(2, 180px);

        @media screen and (max-width: $md) {
            grid-template-columns: 180px;
        }
    }

    &__alert-item,
    &__progress-item {
        max-width: 800px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__progress-item {
        margin-bottom: 50px;
    }

    &__spinners {
        display: flex;
        align-items: center;
    }

    &__spinner-item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}
