.form {
    &__inputs {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        gap: 48px 80px;
    }

    &__field {
        &:nth-of-type(2),
        &:nth-of-type(4) {
            grid-column: 2 / 4;
            max-width: 360px;
        }
    }

    &__select {
        &:nth-of-type(9) {
            grid-column: 2 / 4;
            max-width: 360px;
        }
        &:nth-of-type(10) {
            grid-column: 1 / 4;
            max-width: 360px;
        }
    }

    &__textarea {
        &:nth-of-type(12) {
            grid-column: 2 / 4;
            max-width: 360px;
        }
    }

    &__paginations {
        margin-top: 80px;
    }

    &__pagination-item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }
}
