.icons-section {
    &__block {
        display: grid;
        grid-template-columns: repeat(auto-fill, 30px);
        grid-auto-rows: 30px;
        gap: 24px;
        margin-bottom: 40px;
        padding: 30px 24px;
        border-radius: 20px;
        background-color: var(--bright-color);

        &:last-child {
            margin-bottom: 0;
        }

        &--bright {
            background-color: var(--muted-color);
        }
    }
}
