.list-rating {
	&__wrapper {
		display: flex;
		padding-top: 40px;
	}

	&__column {
		margin-right: 80px;

		&:first-child {
			margin-right: 120px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__item {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__rating-item {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
