.typeface-section {
	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__literal {
		margin-right: 60px;
	}

	&__paper {
		width: 320px;
		height: 320px;
		background-color: var(--primary-color);
		color: var(--tint-color);
		font-size: 19.6rem;
		font-weight: 700;
	}

	&__title {
		color: var(--muted-color);
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.8rem;
	}

	&__font-family {
		font-size: 3.4rem;
		font-weight: 700;
		line-height: 4.4rem;
	}

	&__regular {
		margin-top: 20px;
		font-size: 2rem;
		line-height: 2.6rem;
	}

	&__semi-bold {
		margin-top: 20px;
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.6rem;
	}

	&__download {
		margin-top: 20px;
		font-size: 1.6rem;
		line-height: 2.1rem;
	}

	&__link {
		color: var(--accent-color);
	}
}
