@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/Ibm-plex-sans-regular.woff2") format("woff2"),
		url("../fonts/Ibm-plex-sans-regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/Ibm-plex-sans-text.woff2") format("woff2"),
		url("../fonts/Ibm-plex-sans-text.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/Ibm-plex-sans-medium.woff2") format("woff2"),
		url("../fonts/Ibm-plex-sans-medium.woff") format("woff");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/Ibm-plex-sans-semi-bold.woff2") format("woff2"),
		url("../fonts/Ibm-plex-sans-semi-bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
